<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://unpkg.com/purecss@2.1.0/build/pure-min.css"
        integrity="sha384-yHIFVG6ClnONEA5yB5DJXfW2/KC173DIQrYoZMEtBvGzmf0PKiGyNEqe9N6BNDBH" crossorigin="anonymous">
  <title>Kokaon</title>
  <meta name="description" content="">
  <meta name="author" content="">
</head>
<body>
<h1>[[${status}]]</h1>
<p>[[${message}]]</p>
<a th:href="@{/}">戻る</a>
</body>
</html>