<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <link
      rel="stylesheet"
      href="https://unpkg.com/purecss@2.1.0/build/pure-min.css"
      integrity="sha384-yHIFVG6ClnONEA5yB5DJXfW2/KC173DIQrYoZMEtBvGzmf0PKiGyNEqe9N6BNDBH"
      crossorigin="anonymous"
  />
  <title>Kokaon</title>
  <meta name="description" content=""/>
  <meta name="author" content=""/>
</head>
<body>
<h1>Room: [[${room.name}]] <small>[[${room.id.value()}]]</small></h1>

<div id="root"></div>

<input type="hidden" id="stompUrl" th:value="@{/stomp}"/>
<input type="hidden" id="roomId" th:value="${room.id.value()}"/>

<script src="https://cdn.jsdelivr.net/npm/sockjs-client@1/dist/sockjs.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/webstomp-client@1/dist/webstomp.min.js"></script>
<script src="https://unpkg.com/vue@3.2.31"></script>
<script th:src="@{/js/room.js}"></script>
<script>
      const stompUrl = document.getElementById("stompUrl").value;
      const roomId = document.getElementById("roomId").value;
      const socket = new SockJS(stompUrl);
      const stompClient = webstomp.over(socket);

      const MemberItem = {
        props: {
          user: {
            type: Object,
            required: true,
          },
          isMe: {
            type: Boolean,
            required: false,
          },
        },

        template: `
          <li>
            {{ user.nickname }}
            <span v-if="isMe">Me</span>
          </li>
        `,
      };

      const MemberList = {
        props: {
          members: {
            type: Array,
            required: true,
          },
          me: {
            type: Object,
            required: true,
          },
        },

        components: {
          "member-item": MemberItem,
        },

        methods: {
          isMe(user) {
            return user.id === this.me.id;
          },
        },

        template: `
          <ul>
            <template v-for="member in members" :key="member.id">
              <member-item :user="member" :is-me="isMe(member)" />
            </template>
          </ul>
        `,
      };

      const AddAudioForm = {
        data() {
          return {
            name: "",
            audioFile: null,
          };
        },

        computed: {
          action() {
            return `${location.href}/audios`;
          },
        },

        methods: {
          onFileChange(event) {
            event.preventDefault();
            this.audioFile = event.target.files[0];
          },
          onSubmit(event) {
            event.preventDefault();

            const formData = new FormData();
            formData.append("name", this.name);
            formData.append("audioFile", this.audioFile);

            const options = {
              method: "POST",
              body: formData,
            };

            fetch(this.action, options);

            this.name = "";
            this.audioFile = null;
            this.$refs.form.reset();
          },
        },

        template: `
          <form class="pure-form" @submit="onSubmit" ref="form">
            <fieldset>
              <input type="text" name="name" placeholder="効果音の名前" v-model="name"/>
              <input type="file" name="audioFile" accept="audio/*" @change="onFileChange"/>
              <button type="submit" class="pure-button pure-button-primary">アップロード</button>
            </fieldset>
          </form>
        `,
      };

      const AudioItem = {
        props: {
          audio: {
            type: Object,
            required: true,
          },
        },

        inject: ["room"],

        data() {
          return {
            canPlay: false,
            isRejected: false,
            isPlaying: false,
            handlePlay: null,
          };
        },

        mounted() {
          this.instance.addEventListener("canplay", () => {
            this.canPlay = true;
            this.instance.play().catch(() => {
              this.isRejected = true;
            });
            this.instance.pause();
          });
          this.instance.addEventListener("play", () => {
            this.isPlaying = true;
          });
          this.instance.addEventListener("pause", () => {
            this.isPlaying = false;
          });

          this.handlePlay = (audioId) => {
            if (this.audio.id === audioId && this.instance !== null) {
              console.log("play:", this.audio.name, this.audio.id);
              this.instance
                .play()
                .then(() => {
                  this.isRejected = false;
                })
                .catch(() => {
                  this.isRejected = true;
                });
            }
          };

          this.room.on("play", this.handlePlay);
        },

        beforeUnmount() {
          if (this.handlePlay) {
            this.room.off("play", this.handlePlay);
            this.handlePlay = null;
          }
        },

        computed: {
          instance() {
            return this.$refs.instance;
          },
        },

        methods: {
          allow() {
            this.instance.play();
            this.instance.pause();
            this.isRejected = false;
          },
          play() {
            this.room.play(this.audio.id);
          },
        },

        template: `
          <li>
            {{ audio.name }}
            {{ canPlay }}
            {{ isPlaying }}
            <audio ref="instance" :src="audio.url" />
            <button v-if="isRejected" @click="allow">再生を許可してください</button>
            <button v-else @click="play">Play</button>
          </li>
        `,
      };

      const AudioList = {
        props: {
          audios: {
            type: Array,
            required: true,
          },
        },

        components: {
          "audio-item": AudioItem,
        },

        template: `
          <ul>
            <template v-for="audio in audios" :key="audio.id">
              <audio-item :audio="audio" />
            </template>
          </ul>
        `,
      };

      const App = {
        components: {
          "member-list": MemberList,
          "audio-list": AudioList,
          "add-audio-form": AddAudioForm,
        },

        provide() {
          return {
            room: Vue.computed(() => this.room),
          };
        },

        data() {
          return {
            state: null,
            room: null,
          };
        },

        mounted() {
          this.init();
        },

        beforeUnmount() {
          if (this.room) {
            this.room.close();
          }
        },

        computed: {
          me() {
            return this.state ? this.state.me : null;
          },
          members() {
            return this.state ? this.state.room.members : null;
          },
          audios() {
            return this.state ? this.state.room.audios : null;
          },
        },

        methods: {
          init() {
            const nickname = this.enterNickname();

            stompClient.connect({}, () => {
              this.room = new Room(stompClient, roomId);
              this.room.on("change", (state) => {
                this.state = state;
              });
              this.room.init();
              this.room.enter(nickname);
            });
          },

          enterNickname() {
            while (true) {
              const nickname = prompt('ニックネームを入力してください');
              if (nickname) {
                return nickname;
              }
            }
          },
        },

        template: `
          <div>
            <template v-if="state">
              <h3>Members</h3>
              <member-list :members="members" :me="me" />
              <h3>Audios</h3>
              <audio-list :audios="audios" />
              <add-audio-form/>
            </template>
            <details>
              <summary>$data</summary>
              <pre>{{ $data }}</pre>
            </details>
          </div>
        `,
      };

      const app = Vue.createApp(App);
      app.config.unwrapInjectedRef = true;
      app.mount("#root");





</script>
</body>
</html>
