<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.w3.org/1999/xhtml">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://unpkg.com/purecss@2.1.0/build/pure-min.css"
      integrity="sha384-yHIFVG6ClnONEA5yB5DJXfW2/KC173DIQrYoZMEtBvGzmf0PKiGyNEqe9N6BNDBH"
      crossorigin="anonymous"
    />
    <title>Kokaon</title>
    <meta name="description" content="" />
    <meta name="author" content="" />
  </head>
  <body>
    <h1>Room: [[${room.name}]] <small>[[${room.id.value()}]]</small></h1>

    <div id="root"></div>

    <input type="hidden" id="csrf" th:value="${_csrf.token}" />
    <input type="hidden" id="stompUrl" th:value="@{/stomp}" />
    <input type="hidden" id="roomId" th:value="${room.id.value()}" />

    <script src="https://cdn.jsdelivr.net/npm/sockjs-client@1/dist/sockjs.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/webstomp-client@1/dist/webstomp.min.js"></script>
    <script src="https://unpkg.com/vue@3.2.31"></script>
    <script th:src="@{/js/room.js}"></script>
    <script>
      const csrfToken = document.getElementById("csrf").value;
      const stompUrl = document.getElementById("stompUrl").value;
      const roomId = document.getElementById("roomId").value;
      const socket = new SockJS(stompUrl);
      const stompClient = webstomp.over(socket);

      const MemberItem = {
        props: {
          user: {
            type: Object,
            required: true,
          },
          isMe: {
            type: Boolean,
            required: false,
          },
        },

        template: `
          <li>
            {{ user.nickname }}
            <span v-if="isMe">Me</span>
          </li>
        `
      };

      const MemberList = {
        props: {
          members: {
            type: Array,
            required: true,
          },
          me: {
            type: Object,
            required: true,
          },
        },

        components: {
          'member-item': MemberItem,
        },

        methods: {
          isMe(user) {
            return user.id === this.me.id;
          },
        },

        template: `
          <ul>
            <template v-for="member in members" :key="member.id">
              <member-item :user="member" :is-me="isMe(member)" />
            </template>
          </ul>
        `
      }

      const AddAudioForm = {
        data() {
          return {
            name: '',
            audioFile: null,
          };
        },

        computed: {
          action() {
            return `${location.href}/audios`;
          }
        },

        methods: {
          onFileChange(event) {
            event.preventDefault();
            this.audioFile = event.target.files[0];
          },
          onSubmit(event) {
            event.preventDefault();

            const formData = new FormData();
            formData.append('name', this.name);
            formData.append('audioFile', this.audioFile);

            const options = {
              method: 'POST',
              body: formData,
              headers: {
                'X-CSRF-TOKEN': csrfToken,
              },
            };

            fetch(this.action, options);

            this.name = '';
            this.audioFile = null;
            this.$refs.form.reset();
          }
        },

        template: `
          <form class="pure-form" @submit="onSubmit" ref="form">
            <fieldset>
              <input type="text" name="name" placeholder="効果音の名前" v-model="name"/>
              <input type="file" name="audioFile" accept="audio/*" @change="onFileChange"/>
              <button type="submit" class="pure-button pure-button-primary">アップロード</button>
            </fieldset>
          </form>
        `
      };

      const AudioItem = {
        props: {
          audio: {
            type: Object,
            required: true,
          },
        },

        template: `
          <li>
            {{ audio.name }}
            <audio controls :src="audio.url" />
          </li>
        `
      };

      const AudioList = {
        props: {
          audios: {
            type: Array,
            required: true,
          },
        },

        components: {
          'audio-item': AudioItem,
        },

        template: `
          <ul>
            <template v-for="audio in audios" :key="audio.id">
              <audio-item :audio="audio" />
            </template>
          </ul>
        `
      }

      const App = {
        components: {
          'member-list': MemberList,
          'audio-list': AudioList,
          'add-audio-form': AddAudioForm,
        },

        data() {
          return {
            state: null,
            room: null,
          };
        },

        mounted() {
          stompClient.connect({}, () => {
            this.room = new Room(stompClient, roomId);
            this.room.on("change", (state) => {
              this.state = state;
            });
            this.room.init();
            this.room.enter();
          });
        },

        beforeUnmount() {
          if (this.room) {
            this.room.close();
          }
        },

        computed: {
          me() {
            return this.state ? this.state.me : null;
          },
          owner() {
            return this.state ? this.state.room.owner : null;
          },
          members() {
            return this.state ? this.state.room.members : null;
          },
          audios() {
            return this.state ? this.state.room.audios : null;
          }
        },

        template: `
          <div>
            <template v-if="state">
              <h3>Owner</h3>
              <p>{{owner.nickname}}</p>
              <h3>Members</h3>
              <member-list :members="members" :me="me" />
              <h3>Audios</h3>
              <audio-list :audios="audios" />
              <add-audio-form/>
            </template>
            <details>
              <summary>$data</summary>
              <pre>{{ $data }}</pre>
            </details>
          </div>
        `
      };

      Vue.createApp(App).mount("#root");
    </script>
  </body>
</html>
